@model IEnumerable<BookmakerModel>

<h1>This is the bookmakers page where we will display all the information related to odds for the selected game</h1>

<table>
    <thead>
        <tr>
            <th>Bookmakers</th>
            <th>home team //markets.outcomes.name</th>
            <th>away team //markets.outcomes.name</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>this is a bookmaker</td>
            <td>this is this bookmakers odds for home team</td>
            <td>this is this bookmakers odds for away team</td>

        </tr>

    </tbody>
</table>