@model IEnumerable<SportModel>

<div class="text-center">
    <h1 class="display-4">Arbitrage</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1>Sports</h1>

@foreach (var sport in Model)
{
    <div class="sport">
        <h2>@sport.Title</h2>
        <p>@sport.Description</p>
    </div>
}